<!-- contact.html -->




<div class="row">
        <div class="col-sm-12 text-center heading">
            <h3>Signup</h3>
            <hr>
        </div>
     
        <div class="row">
       <div class="col-sm-6">

    <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-offset-2 col-sm-2">EnterName:</label>
          <div class="col-sm-6">
              <p>
                    <input type="text" class="form-control"ng-model="name" placeholder="EnterName" name="name">
          
              </p>
            
         </div>
          </div>
          <div class="form-group">
                <label class="control-label col-sm-offset-2 col-sm-2">EnterEmail:</label>
                <div class="col-sm-6">
                    <p>
                          <input type="email" class="form-control"ng-model="email" placeholder="Enter Email" name="email">
                
                    </p>
                  
               </div>
                </div>
                <div class="form-group">
                        <label class="control-label col-sm-offset-2 col-sm-2">Password:</label>
                        <div class="col-sm-6">
                            <p>
                                  <input type="Password" class="form-control"ng-model="password" placeholder="Enter password" name="password">
                        
                            </p>
                          
                       </div>
                        </div>
                <div class="form-group">
                        <label class="control-label col-sm-offset-2 col-sm-2">EnterAge:</label>
                        <div class="col-sm-6">
                            <p>
                                  <input type="text" class="form-control"ng-model="age" placeholder="Enter age" name="age">
                        
                            </p>
                          
                       </div>
                        </div>
                        <div class="form-group">
                                <label class="control-label col-sm-offset-2 col-sm-2">phonenumber:</label>
                                <div class="col-sm-6">
                                    <p>
                                          <input type="text" class="form-control"ng-model="phn" placeholder="Enter phonenumber" name="phn">
                                
                                    </p>
                                  
                               </div>
                                </div>
                                <div class="form-group">
                                        <label class="control-label col-sm-offset-2 col-sm-2">Address:</label>
                                        <div class="col-sm-6">
                                            <p>
                                                  <input type="text-area" class="form-control"ng-model="address" placeholder="Enter username" name="username">
                                        
                                            </p>
                                          
                                       </div>
                                        </div>
         
                <div class="form-group">
                       
                        <div class="col-sm-offset-4 col-sm-6">
                            <p>
                                    <button class="btn btn-primary bttn" ng-click="signup()">signup</a></button>  
                               
                               </p>
                          
                       </div>
                        </div>
        
          </form>

        </div>
        <div class="col-sm-6 ">
         <!-- <h4 class="text-center ">{{heading}}</h4>
         <hr>
         <p ><b>EnterName:</b>{{object1.name}}</p>
         <p><b>EnterEmail:</b>{{object1.email}}</p>
         <p><b>password:</b>{{object1.password}}</p>
         <p><b>EnterAge:</b>{{object1.age}}</p>
         <p><b>phonenumber:</b>{{object1.phn}}</p>
         <p><b>Address:</b>{{object1.address}}</p> -->
         
        
         
                 </div>

     
    
            </div>
          