
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center heading">
                <h3>Login</h3>
            <hr>
        </div>
     
        <div class="row"> 

    <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-offset-2 col-sm-2">Username:</label>
          <div class="col-sm-4">
              <p>
                    <input type="text" class="form-control"ng-model="username" placeholder="Enter username" name="username">
                   </p>
            
         </div>
          </div>
          <div class="form-group">
                <label class="control-label col-sm-offset-2 col-sm-2">Password:</label>
                <div class="col-sm-4">
                    <p>
                          <input type="Password" class="form-control"ng-model="password" placeholder="Enter password" name="password">
                
                    </p>
                  
               </div>
                </div>
                <div class="form-group">
                       
                        <div class="col-sm-offset-4 col-sm-4">
                            <p>
                                
                                <button class="btn btn-default bttn" ng-click="login()"><a href="/about"> login</a> </button>  
                                <button class="btn btn-default bttn" ><a href="/contact"> signup</a></button> </p>
                          
                       </div>
                        </div>
        
          </form>
        </div>
        <!-- <div class="col-sm-4 table">
         <h4 class="text-center ">{{heading}}</h4>
         <hr>
         <p><b>Username:</b>{{obj1.username}}</p>
         <p><b>password:</b>{{obj1.password}}</p>
         <p><b>result:</b>{{result}}</p> -->
         
               </div>
</div>

     
    
         





            